
*.rmarkdown
*.docx
*.tex
*.pdf
*_files
factsheets
ignore
.Rproj.user
.Rhistory
.RData
/.quarto/

**/*.quarto_ipynb

# Spreadsheet checkout of data/APD_traits_input.yml -- see `make export-csv`
data/edit/
